<template>
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <h6 class="m-0 py-2 font-weight-bold text-primary">
        Performance Report
        <span class="ml-2" v-if="reportName">
          <i class="far fa-file"></i> {{ reportName }}
        </span>
      </h6>
      <button
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        @click="downloadReport()"
        :disabled="!reportDownloadLink"
      >
        <i class="fas fa-download fa-sm text-white-50"></i> Download Report (csv)
      </button>
    </div>
    <div class="card-body report-table mx-2 text-center" valign="top">
      <h5 v-if="!reportRawData">You didn't select a performance report.</h5>
      <table
        class="table table-hover table-borderless"
        v-else
      >
        <thead>
          <tr>
            <th>#</th>
            <th>partition</th>
            <th>publisher</th>
            <th>pub cpu usgae(%)</th>
            <th>pub memory usgae(%)</th>
            <th>pub bandwidth receive</th>
            <th>pub bandwidth transmit</th>
            <th>topic</th>
            <th>letency(%)</th>
            <th>loss rate(%)</th>
            <th>subscriber</th>
            <th>sub cpu usgae(%)</th>
            <th>sub memory usgae</th>
            <th>sub bandwidth receive</th>
            <th>sub bandwidth transmit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(rowData, i) in reportRawData"
            :key="i"
          >
            <th scope="row">{{ i+1 }}</th>
            <td>{{ rowData.partition }}</td>
            <td>{{ rowData.publisher }}</td>
            <td>{{ rowData.pubCpuUsgae | keepTwoNum }}</td>
            <td>{{ rowData.pubMemoryUsgae | keepTwoNum }}</td>
            <td>{{ rowData.pubBandwidthReceive | keepTwoNum }}</td>
            <td>{{ rowData.pubBandwidthTransmit | keepTwoNum }}</td>
            <td>{{ rowData.topic }}</td>
            <td>{{ rowData.letency*100 | keepTwoNum }}</td>
            <td>{{ rowData.lossRate*100 | keepTwoNum }}</td>
            <td>{{ rowData.subscriber }}</td>
            <td>{{ rowData.subCpuUsgae | keepTwoNum }}</td>
            <td>{{ rowData.subMemoryUsgae | keepTwoNum }}</td>
            <td>{{ rowData.subBandwidthReceive | keepTwoNum }}</td>
            <td>{{ rowData.subBandwidthTransmit | keepTwoNum }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ModalMsg msg="download report file" />
  </div>
</template>

<script>
import axios from 'axios'
import { ApiHost } from '@/config'
import ModalMsg from '@/components/common/ModalMsg'

export default {
  components: {
    ModalMsg
  },
  props: ['report'],
  filters: {
    keepTwoNum (value) {
      return value.toFixed(2)
    }
  },
  computed: {
    reportName () {
      if (this.report) {
        return this.report.reportName
      } else {
        return ''
      }
    },
    reportRawData () {
      if (this.report) {
        return this.report.reportContent.report
      } else {
        return ''
      }
    },
    reportDownloadLink () {
      if (this.report) {
        console.log(`${ApiHost}/reports/file/${this.reportName}.csv`)
        return `${ApiHost}/reports/file/${this.reportName}.csv`
      } else {
        return ''
      }
    }
  },
  methods: {
    downloadReport () {
      axios({
        url: this.reportDownloadLink,
        method: 'GET',
        responseType: 'blob'
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', 'report.csv')
        document.body.appendChild(link)
        link.click()
      })
    }
  }
}
</script>

<style lang="sass">
.report-table
  overflow: auto
  font-size: 14px

th
  vertical-align: middle !important

.table-hover tbody tr:hover
  background: #4e73df1a
</style>
