<template>
  <div>
    <!-- Report File -->
    <report-file
      v-on:set-report="report=$event"
    />

    <!-- Report Chart-->
    <report-chart
      :report="report"
    />

    <!-- Report Table-->
    <report-table
      :report="report"
    />
  </div>
</template>

<script>
import ReportFile from '@/components/TestbedPage/ReportPage/ReportFile'
import ReportChart from '@/components/TestbedPage/ReportPage/ReportChart'
import ReportTable from '@/components/TestbedPage/ReportPage/ReportTable'

export default {
  components: {
    ReportFile,
    ReportChart,
    ReportTable
  },
  data () {
    return {
      report: null
    }
  },
  methods: {
  }
}
</script>

<style lang="sass">
</style>
